<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h3>About</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, non veritatis temporibus quas totam porro. At
    quia, quae cum blanditiis maiores ratione tenetur fugiat voluptate illum, distinctio perferendis vel dolorem?
  </p>
</body>

</html>